body{
    background-image: url(../imagenes/city.jpg);
    display: flex;
    flex-direction: column;
    

}
main{
    margin: auto;
}
.caja-semaforo{
    width: 100px;
    height: 250px;
    background: #000;
    border-radius: 30px;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



.luz-semaforo{
    width: 60px;
    height: 60px;
    background: gray;
    border-radius: 50%;
    border: 2px solid black;
    margin: 5px auto;
}

.centrar {
    text-align: center;
    margin-top: 10px;
}